/*自定义css*/


.text {
    margin: 15px 10px;
    padding: 0 20px;
    background-color: #ebebeb;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #777;
    font-size: 26px;
}

/*文章css*/
.ftl-article {
    word-break: break-all;
    word-wrap: break-word;
    line-height: 1.5;
}

.ftl-article-h1 .ftl-article-h2 .ftl-article-h3 {
    margin: 0 30px;
    color: #333;
}

.ftl-article-h1 {
    margin-top: 30px;
    font-size: 48px;
    line-height: 72px;
}

.ftl-article-h2 {
    margin-top: 30px;
    font-size: 40px;
    line-height: 60px;
}
.ftl-article-h3 {
    font-size: 32px;
    line-height: 48px;
}
.ftl-article-p {
    margin: 25px 30px 0;
    color: #666;
    font-size: 28px;
    line-height: 42px;
}
